{
  "CN": "{{ inventory_hostname }} Docker CA",
  "key":
  {
    "algo": "rsa",
    "size": 4096
  },
  "names": [
    {
      "C": "AU",
      "ST": "Victoria",
      "L": "Melbourne",
      "O": "Illallangi Enterprises",
      "OU": "Alfa Network Services"
    }
  ]
}
